<?xml version="1.0" encoding="utf-8"?>
<Channel>
  <Subscription>
    <Channel_Name>NEWS</Channel_Name>
    <Subscription_Name>CNN</Subscription_Name>
    <Subscription_URL>http://rss.cnn.com/rss/cnn_world.rss</Subscription_URL>
    <Subscription_Update>2</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>NEWS</Channel_Name>
    <Subscription_Name>New York Times</Subscription_Name>
    <Subscription_URL>http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml</Subscription_URL>
    <Subscription_Update>2</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>NEWS</Channel_Name>
    <Subscription_Name>Seattle Times</Subscription_Name>
    <Subscription_URL>http://seattletimes.com/rss/home.xml</Subscription_URL>
    <Subscription_Update>2</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>General</Channel_Name>
    <Subscription_Name>Carolla</Subscription_Name>
    <Subscription_URL>http://theadamcarollashow.libsyn.com/rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
    </Subscription>
  <Subscription>
    <Channel_Name>General</Channel_Name>
    <Subscription_Name>Rogan</Subscription_Name>
    <Subscription_URL>http://joeroganexp.joerogan.libsynpro.com/rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>News</Channel_Name>
    <Subscription_Name>NPR</Subscription_Name>
    <Subscription_URL>http://www.npr.org/rss/rss.php?id=1004</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
    </Subscription>
  <Subscription>
    <Channel_Name>Weather</Channel_Name>
    <Subscription_Name>Weather</Subscription_Name>
    <Subscription_URL>http://w1.weather.gov/xml/current_obs/KPUW.rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
    </Subscription>
  <Subscription>
    <Channel_Name>Email</Channel_Name>
    <Subscription_Name>Email</Subscription_Name>
    <Subscription_URL>https://mail.google.com/mail/feed/atom</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>ESPN</Channel_Name>
    <Subscription_Name>ESPN</Subscription_Name>
    <Subscription_URL>http://sports.espn.go.com/espn/rss/news</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>WTF</Channel_Name>
    <Subscription_Name>WTF</Subscription_Name>
    <Subscription_URL>http://wtfpod.libsyn.com/rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>Reddit</Channel_Name>
    <Subscription_Name>Reddit</Subscription_Name>
    <Subscription_URL>http://www.reddit.com/.rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
  <Subscription>
    <Channel_Name>YouTube</Channel_Name>
    <Subscription_Name>VPN</Subscription_Name>
    <Subscription_URL>http://feedity.com/youtube-com/VVNWVlRU.rss</Subscription_URL>
    <Subscription_Update>0</Subscription_Update>
  </Subscription>
</Channel>